.next-button {
  height: 40px;
  font-size: 16px;
  display: block;
  text-align: center;
}
.result-box ul {
  color: #718096;
  --tw-placeholder-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-placeholder-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  padding: 15px 10px;
}
.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 7px 0px;
  cursor: pointer;
}
#Job-title:hover {
  border: none;
}
