nav {
  --color: #00579b;
  --color: #00579b;
  z-index: 2;
  /* position: fixed; */
  display: flex;
  padding: 0.2% 3%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #00579b;
  height: 11vh;
  /* position: fixed;
  top: 0;
  width: 100%; */
}
.logo {
  width: 120px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links li {
  list-style: none;
  display: inline;
  padding: 8px 12px;
  position: relative;
}
.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 17.5px;
}
.nav-links li a:hover {
  font-size: 19px;
  border-bottom: 2px solid var(--color);
  padding-bottom: 8px;
}
.profileIcon {
  position: relative;
  height: 55px;
}
.profileIcon:hover {
  height: 60px;
}
