#btn:hover {
  background-color: white;
  color: black;
}
#btn {
  margin-top: 15px;
}
.singleJob {
  width: 280px; /* Increase the width */
  height: 350px; /* Increase the height */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
}
.time span {
  width: 50px; /* Adjust the width as needed */
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent text from wrapping */
}
