.icon {
  cursor: pointer;
  font-size: 23px;
}
.searchDiv {
  margin-top: 40px;
}
/* #searchbtn:hover {
  background-color: white;
  color: black;
  outline: 2.5px solid#00579b;
  outline-offset: 4.5px;
  outline-offset: 1px;
} */
#searchbtn:hover {
  background-color: #0a77c4;
}
.clearAllButton {
  text-decoration: underline;
}
