/* CandidateHomePage.css */

#btn:hover {
  background-color: white;
  color: black;
}
#btn {
  margin-top: 15px;
}

.singleJob {
  position: relative;
  width: 300px;
  height: 375px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
}

.time span {
  width: 50px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  cursor: pointer;
  font-size: 23px;
}

.searchDiv {
  margin-top: 40px;
}

#searchbtn:hover {
  background-color: #0a77c4;
}

.clearAllButton {
  text-decoration: underline;
}

.jobButtons {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.jobButtons button {
  margin-bottom: 7px;
}

.singleJob:hover > * {
  color: white;
}

.singleJob:hover h1 {
  color: white;
}

.singleJob:hover button {
  color: white;
}

.singleJob:hover button:hover {
  color: var(--blue);
}

.transparent-background {
  background-color: rgba(255, 255, 255, 0.105);
}

#sb-button {
  color: var(--blue);
  background-color: white;
  border: 2px solid var(--blue);
}

#sb-button:hover {
  background-color: var(--blue);
  color: white;
}

#closeButton {
  color: gray;
}

#closeButton:hover {
  color: rgb(232, 31, 31);
}

#shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.paginationButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  display: inline-block; /* Ensure the buttons occupy space even when hidden */
}

.paginationButton:hover {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--blue);
  background-color: white;
}

/* Hide pagination buttons when disabled */
.paginationButton[disabled] {
  display: none;
}
